.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-header {
  color: #fdffff;
  font-size: 20px;
}

.Correct-answer {
  color:chartreuse;
  font-size: 30px;
}

.Wrong-answer {
  color:crimson;
  font-size: 30px;

}

.Home {
  font-size: 23px;
  color:rgb(1, 1, 0);
}

.Type {
  font-size: 12px;
  margin: 3px;
}

.Multiple {
  font-size: 12px;
  margin: 3px;

}

.Title {
  font-size: 40px;
  margin: 15px;
  color:rgb(238, 228, 32);

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
